In [ ]:
#print('VERIFICAÇÃO DE DEPENDENCIAS')
#print('<><><><><><><><><><><><><><><><><><><>')
#!pip install -r requirements.txt
#!pip install beautifulsoup4
#!pip install requests
#!pip install aiohttp
#!pip install nest-asyncio
#print('<><><><><><><><><><><><><><><><><><><>')

# Importando bibliotecas
import nest_asyncio
import aiohttp
import pandas as pd
import requests
import urllib.request
import bs4
from bs4 import BeautifulSoup
import os
import time
from IPython.display import clear_output

nest_asyncio.apply()

def converter_comp_p_data(i):
    
    data = str(i)
    dia_ficcional = '20'
    ano_data = data[:4]
    mes_data = data[4:]
    data_completa = dia_ficcional + '/' + mes_data + '/' + ano_data 
    
    return data_completa

def converter_comp_p_ano(i):
    
    data = str(i)
    ano_data = data[:4]
    
    return int(ano_data)

def converter_comp_p_mes(i):
    
    data = str(i)
    mes_data = data[4:]
    
    return int(mes_data)

colunas_população = []
competencias = []
ano_inicial = 2016
ano_final = 2022
mes_inicial = 1
mes_final = 12
primeira_competencia = True
salvar_mun = False
contador_auxiliar = 1
index_mun = 0

dicionario_categorias = {'CIRÚRGICO':'Cirurgico',
                        'CLÍNICO':'Clinico',
                        'OBSTÉTRICO':'Obstetrico',
                        'PEDIATRICO':'Pediatrico',
                        'OUTRAS ESPECIALIDADES':'Outras Especialidades',
                        'HOSPITAL DIA':'Hospital Dia',
                        'COMPLEMENTAR':'Complementar'}

for ano_pop in range(ano_inicial, (ano_final+1)):
    colunas_população.append(f'População {ano_pop}')

nome_colunas_df = ['Competência','Ano','Mes','Código','Categoria','Descrição','Existente','SUS','%Ocupação','Geocodigo','População']
nome_colunas_df_completo = nome_colunas_df + ['País', 'Estado', 'Município', 'Mesoregião', 'Regional de Saúde']

path_armazenamento_raiz = './Leitos_CNES_PI'
path_armazenamento_mun = path_armazenamento_raiz + '/Municipios'
path_auxiliar = './temp_WSS_CNES'
path_csv_munpi = 'MunicipiosPI.csv'

print('')
print('INICIANDO PROCEDIMENTO DE WEB SCRAPING')
print('Codigo preparado por Gabriel Coelho')
print('Me encontre em: https://www.linkedin.com/in/gabriel--coelho/')
print('<><><><><><><><><><><><><><><><><><><>')

print('')
print('...Criando diretorios')

try:
    os.makedirs(path_auxiliar)
    print('> Diretorio temporario criado')
except:
    print('> Diretorio temporario ja existente')
    
try:
    os.makedirs(path_armazenamento_mun)
    print('> Diretorio de armazenamento criado')
except:
    print('> Diretorio de armazenamento ja existente')

print('')
print('...Lendo dados')

try:
    df_municipios = pd.read_csv(path_csv_munpi)
    print('> Banco de dados dos municipios do Piaui 2016 a 2022 - OK')
except:
    print('> Banco de dados dos municipios do Piaui 2016 a 2022 - FALHOU')

try:
    df_Leitos_CNES_PI_Completo = pd.read_csv(f'{path_armazenamento_raiz}/Leitos_CNES_PI_Completo.csv')
    print('> Banco de dados dos leitos CNES PI - OK')
except:
    df_Leitos_CNES_PI_Completo = pd.DataFrame(columns=nome_colunas_df)
    df_Leitos_CNES_PI_Completo.to_csv(f'{path_armazenamento_raiz}/Leitos_CNES_PI_Completo.csv')
    print('> Banco de dados dos leitos CNES PI - Não existente -> Foi Criado')

try:
    df_pular_mun_lista = pd.read_csv(f'{path_auxiliar}/pular_mun_lista.csv')
    print('> Planilhar auxiliar detectada...lendo')
    print(df_pular_mun_lista['Geocodigo'])
except:
    df_pular_mun_lista = pd.DataFrame(columns=['Geocodigo'])
    df_pular_mun_lista.to_csv(f'{path_auxiliar}/pular_mun_lista.csv')
    print('> Criando planilha auxiliar')

print('')
print('...Criando dados auxiliares')

municipios = list(df_municipios['Geocodigo'])
nome_município = list(df_municipios['Município'])
dicionario_municipios = dict(zip(municipios, nome_município))

try:
    for mun in municipios:
        for i in range(ano_inicial, (ano_final+1)):
            for j in range(mes_inicial, (mes_final+1)):
                if len(str(j)) < 2:
                    mes = f'0{j}'
                else:
                    mes = j
                ano = f'{i}{mes}'
                if primeira_competencia:
                    competencias.append(ano)
                for key, value in dicionario_municipios.items():
                    if (mun == key):
                        nome_mun = value
                        nome_mun = nome_mun.replace(' ','_')
                nome_dataframe = f'df_Leitos_CNES_PI_{nome_mun}_{ano}'
                vars()[nome_dataframe] = pd.DataFrame(columns=nome_colunas_df)
        primeira_competencia=False
    print('> Competencias e planilhas auxiliares - OK')
    print(f'> Inicio das competencias: {min(competencias)}, final das competencias: {max(competencias)}')
except:
    print(print('> Competencias e planilhas auxiliares - FALHOU'))
    
print('')
print('...Analisando dados dos municipios')

for mun in municipios:
    #try:
        pular_mun=False
        
        for key, value in dicionario_municipios.items():
            if (mun == key):
                nome_mun = value
                nome_mun = nome_mun.replace(' ','_')
        
        print('')
        print(f'...Iniciando {mun} - {nome_mun}: {index_mun+1}/224')
        print('---------------------------------')
        contador_auxiliar = contador_auxiliar + 1
        
        for i in competencias:
            #try:
                
                index_atual=0
                ultimo_titulo=''
                pular_proxima_linha=False
                primeiro=True
                controlador=True
        
                informações = ['','','','','','','','','','','']
                
                for index, row in df_pular_mun_lista.iterrows(): 
                    if(row['Geocodigo'] == mun):
                        print(f'>> Pulando {nome_mun} - {i}')
                        pular_mun = True
                        index_atual = index_atual+1
                        break
                
                if(pular_mun):
                    continue
            
                print('')
                print(f'...Iniciando {nome_mun} - {i}:')
                
                try:
                    print('> Carregando pagina')
                    url = f'http://cnes2.datasus.gov.br/Mod_Ind_Tipo_Leito.asp?VEstado=22&VMun={mun}&VComp={i}'
                    pagina = urllib.request.urlopen(url)
                    soup = BeautifulSoup(pagina, 'html.parser')
                    tabela_bruta = soup.find_all('table')
                    tabela_filtrada = tabela_bruta[0].find('table', border=1, width=500, cellpadding=1, align='center')
                    print('>> Pagina carregada')
                except:
                    print('!!!!Problema ao explorar html!!!!  Tentando novamente..' )
                    url = f'http://cnes2.datasus.gov.br/Mod_Ind_Tipo_Leito.asp?VEstado=22&VMun={mun}&VComp={i}'
                    pagina = urllib.request.urlopen(url)
                    soup = BeautifulSoup(pagina, 'html.parser')
                    tabela_bruta = soup.find_all('table')
                    tabela_filtrada = tabela_bruta[0].find('table', border=1, width=500, cellpadding=1, align='center')
                    print('>> Pagina carregada')
            
                print('> Explorando a pagina')
                if (type(tabela_filtrada) == bs4.element.Tag):
                    for linha in tabela_filtrada.find_all('tr'):
        
                        if (not primeiro):
                            primeiro=True
                            continue
        
                        if (pular_proxima_linha):
                            pular_proxima_linha = (not pular_proxima_linha)
                            continue

                        titulo_raw = linha.find('td', colspan=3)
                        
                        if((type(titulo_raw) == bs4.element.Tag) and titulo_raw.text.strip() != ultimo_titulo):
                            titulo = titulo_raw.text.strip()
                            if(titulo != ultimo_titulo):
                                ultimo_titulo = titulo
                                pular_proxima_linha=True
                                if(controlador):
                                    controlador = False
                                else:
                                    primeiro = False
                                continue

                        dados = linha.find_all('td')

                        if len(dados) > 4:
                            break
                            
                        print('>> Carregando informações')
                        informações[0] = converter_comp_p_data(i)
                        informações[1] = converter_comp_p_ano(i)
                        informações[2] = converter_comp_p_mes(i)
                        informações[3] = int(dados[0].text.strip())
                        informações[4] = ultimo_titulo
                        informações[5] = dados[1].text.strip()
                        informações[6] = int(dados[2].text.strip())
                        informações[7] = int(dados[3].text.strip())
                        informações[8] = round(float((informações[7])/float(informações[6])), 2)
                        informações[9] = mun
                        informações[10] = '0'

                        print(informações)
                        df_informações = pd.DataFrame([informações], columns=nome_colunas_df)
                        print(df_informações.info())
                        vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'] = pd.concat([vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'], df_informações], ignore_index=True)
                        index_atual = index_atual+1
                    
                    vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}']['Competência'] = pd.to_datetime(vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}']['Competência'], format='%d/%m/%Y')

                    vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}']['Categoria'] = vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}']['Categoria'].map(dicionario_categorias)
            
                    
                    print('>>> Merge com dados do municipio')
                    vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'] = pd.merge(vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'], df_municipios, on="Geocodigo", how="left", suffixes=('_x', '_y'))
                    
                    print('>>> Identificando total populacional do periodo')
                    for index, row in vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'].iterrows():
                        for pop_ano in range(ano_inicial, (ano_final+1)):
                            if (row['Ano'] == pop_ano):
                                for index_mun_i, row_mun_i in df_municipios.iterrows():
                                    if(row['Geocodigo'] == row_mun_i['Geocodigo']):
                                        vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'].iloc[index,10] = df_municipios[f'População {pop_ano}'][index_mun_i]
                                        break
                            else:
                                continue
                            break

                    vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'].drop(colunas_população, axis=1, inplace=True)

                    #vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'].reset_index(inplace=True, drop=True)
                    #df_Leitos_CNES_PI_Completo.reset_index(inplace=True, drop=True)
                    
                    print('>>> Adicionando à planilha completa')
                    df_Leitos_CNES_PI_Completo = pd.concat([df_Leitos_CNES_PI_Completo, vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}']], ignore_index=True)
                    
                    if salvar_mun:
                        print('>>> Salvando planilha especifica')
                        
                        vars()[f'df_Leitos_CNES_PI_{nome_mun}_{i}'].to_csv(f'./Leitos_CNES_PI/Municipios/Leitos_CNES_PI_{nome_mun}_{i}.csv')

                    print(f'Dataset: {nome_mun} - {converter_comp_p_mes(i)}/{converter_comp_p_ano(i)} - OK')
                    #clear_output(wait=True)
                    
                else:
                    print('>> Exploração abortada')
                    print(f'Dataset: {nome_mun} - {converter_comp_p_mes(i)}/{converter_comp_p_ano(i)} - VAZIO')
                    #clear_output(wait=True)
                    
            
        print('---------------------------------')
        print('>> Salvando dados')
        df_mun = pd.DataFrame([mun], columns=['Geocodigo'])
        df_pular_mun_lista = pd.concat([df_pular_mun_lista, df_mun], ignore_index=True)
        df_pular_mun_lista.to_csv(f'{path_auxiliar}/pular_mun_lista.csv')
        df_Leitos_CNES_PI_Completo.sort_values(['Ano', 'Mes', 'Código', 'Geocodigo'],ascending = [True, True, True, True])
        df_Leitos_CNES_PI_Completo.to_csv(f'{path_armazenamento_raiz}/Leitos_CNES_PI_Completo.csv')
        index_mun = index_mun + 1
        print('>>> Dados salvos')
        print('')
        print('...Limpando terminal')
        #clear_output(wait=True)
        
            #except(e):
                #print(e)
                #print(f'Dataset: {nome_mun} - {converter_comp_p_mes(i)}/{converter_comp_p_ano(i)} - FALHOU')
            
    #except(e):
        #print(e)
        #print(f'Municipio: {nome_mun} - FALHOU')
        
print('... Finalizando')   
df_Leitos_CNES_PI_Completo.to_csv('./Leitos_CNES_PI/Leitos_CNES_PI_Completo.csv')

print('<><><><><><><><><><><><><><><><><><><>')

print('!!! Finalizado !!!')

INICIANDO PROCEDIMENTO DE WEB SCRAPING
Codigo preparado por Gabriel Coelho
Me encontre em: https://www.linkedin.com/in/gabriel--coelho/
<><><><><><><><><><><><><><><><><><><>

...Criando diretorios
> Diretorio temporario ja existente
> Diretorio de armazenamento ja existente

...Lendo dados
> Banco de dados dos municipios do Piaui 2016 a 2022 - OK
> Banco de dados dos leitos CNES PI - OK
> Planilhar auxiliar detectada...lendo
0    220005
1    220010
Name: Geocodigo, dtype: int64

...Criando dados auxiliares
> Competencias e planilhas auxiliares - OK
> Inicio das competencias: 201601, final das competencias: 202212

...Analisando dados dos municipios

...Iniciando 220005 - Acauã: 1/224
---------------------------------
>> Pulando Acauã - 201601
>> Pulando Acauã - 201602
>> Pulando Acauã - 201603
>> Pulando Acauã - 201604
>> Pulando Acauã - 201605
>> Pulando Acauã - 201606
>> Pulando Acauã - 201607
>> Pulando Acauã - 201608
>> Pulando Acauã - 201609
>> Pulando Acauã - 201610
>> Pulando Acauã - 201611
>> Pulando Acauã - 201612
>> Pulando Acauã - 201701
>> Pulando Acauã - 201702
>> Pulando Acauã - 201703
>> Pulando Acauã - 201704
>> Pulando Acauã - 201705
>> Pulando Acauã - 201706
>> Pulando Acauã - 201707
>> Pulando Acauã - 201708
>> Pulando Acauã - 201709
>> Pulando Acauã - 201710
>> Pulando Acauã - 201711
>> Pulando Acauã - 201712
>> Pulando Acauã - 201801
>> Pulando Acauã - 201802
>> Pulando Acauã - 201803
>> Pulando Acauã - 201804
>> Pulando Acauã - 201805
>> Pulando Acauã - 201806
>> Pulando Acauã - 201807
>> Pulando Acauã - 201808
>> Pulando Acauã - 201809
>> Pulando Acauã - 201810
>> Pulando Acauã - 201811
>> Pulando Acauã - 201812
>> Pulando Acauã - 201901
>> Pulando Acauã - 201902
>> Pulando Acauã - 201903
>> Pulando Acauã - 201904
>> Pulando Acauã - 201905
>> Pulando Acauã - 201906
>> Pulando Acauã - 201907
>> Pulando Acauã - 201908
>> Pulando Acauã - 201909
>> Pulando Acauã - 201910
>> Pulando Acauã - 201911
>> Pulando Acauã - 201912
>> Pulando Acauã - 202001
>> Pulando Acauã - 202002
>> Pulando Acauã - 202003
>> Pulando Acauã - 202004
>> Pulando Acauã - 202005
>> Pulando Acauã - 202006
>> Pulando Acauã - 202007
>> Pulando Acauã - 202008
>> Pulando Acauã - 202009
>> Pulando Acauã - 202010
>> Pulando Acauã - 202011
>> Pulando Acauã - 202012
>> Pulando Acauã - 202101
>> Pulando Acauã - 202102
>> Pulando Acauã - 202103
>> Pulando Acauã - 202104
>> Pulando Acauã - 202105
>> Pulando Acauã - 202106
>> Pulando Acauã - 202107
>> Pulando Acauã - 202108
>> Pulando Acauã - 202109
>> Pulando Acauã - 202110
>> Pulando Acauã - 202111
>> Pulando Acauã - 202112
>> Pulando Acauã - 202201
>> Pulando Acauã - 202202
>> Pulando Acauã - 202203
>> Pulando Acauã - 202204
>> Pulando Acauã - 202205
>> Pulando Acauã - 202206
>> Pulando Acauã - 202207
>> Pulando Acauã - 202208
>> Pulando Acauã - 202209
>> Pulando Acauã - 202210
>> Pulando Acauã - 202211
>> Pulando Acauã - 202212
---------------------------------
>> Salvando dados
>>> Dados salvos

...Limpando terminal

...Iniciando 220010 - Agricolândia: 2/224
---------------------------------
>> Pulando Agricolândia - 201601
>> Pulando Agricolândia - 201602
>> Pulando Agricolândia - 201603
>> Pulando Agricolândia - 201604
>> Pulando Agricolândia - 201605
>> Pulando Agricolândia - 201606
>> Pulando Agricolândia - 201607
>> Pulando Agricolândia - 201608
>> Pulando Agricolândia - 201609
>> Pulando Agricolândia - 201610
>> Pulando Agricolândia - 201611
>> Pulando Agricolândia - 201612
>> Pulando Agricolândia - 201701
>> Pulando Agricolândia - 201702
>> Pulando Agricolândia - 201703
>> Pulando Agricolândia - 201704
>> Pulando Agricolândia - 201705
>> Pulando Agricolândia - 201706
>> Pulando Agricolândia - 201707
>> Pulando Agricolândia - 201708
>> Pulando Agricolândia - 201709
>> Pulando Agricolândia - 201710
>> Pulando Agricolândia - 201711
>> Pulando Agricolândia - 201712
>> Pulando Agricolândia - 201801
>> Pulando Agricolândia - 201802
>> Pulando Agricolândia - 201803
>> Pulando Agricolândia - 201804
>> Pulando Agricolândia - 201805
>> Pulando Agricolândia - 201806
>> Pulando Agricolândia - 201807
>> Pulando Agricolândia - 201808
>> Pulando Agricolândia - 201809
>> Pulando Agricolândia - 201810
>> Pulando Agricolândia - 201811
>> Pulando Agricolândia - 201812
>> Pulando Agricolândia - 201901
>> Pulando Agricolândia - 201902
>> Pulando Agricolândia - 201903
>> Pulando Agricolândia - 201904
>> Pulando Agricolândia - 201905
>> Pulando Agricolândia - 201906
>> Pulando Agricolândia - 201907
>> Pulando Agricolândia - 201908
>> Pulando Agricolândia - 201909
>> Pulando Agricolândia - 201910
>> Pulando Agricolândia - 201911
>> Pulando Agricolândia - 201912
>> Pulando Agricolândia - 202001
>> Pulando Agricolândia - 202002
>> Pulando Agricolândia - 202003
>> Pulando Agricolândia - 202004
>> Pulando Agricolândia - 202005
>> Pulando Agricolândia - 202006
>> Pulando Agricolândia - 202007
>> Pulando Agricolândia - 202008
>> Pulando Agricolândia - 202009
>> Pulando Agricolândia - 202010
>> Pulando Agricolândia - 202011
>> Pulando Agricolândia - 202012
>> Pulando Agricolândia - 202101
>> Pulando Agricolândia - 202102
>> Pulando Agricolândia - 202103
>> Pulando Agricolândia - 202104
>> Pulando Agricolândia - 202105
>> Pulando Agricolândia - 202106
>> Pulando Agricolândia - 202107
>> Pulando Agricolândia - 202108
>> Pulando Agricolândia - 202109
>> Pulando Agricolândia - 202110
>> Pulando Agricolândia - 202111
>> Pulando Agricolândia - 202112
>> Pulando Agricolândia - 202201
>> Pulando Agricolândia - 202202
>> Pulando Agricolândia - 202203
>> Pulando Agricolândia - 202204
>> Pulando Agricolândia - 202205
>> Pulando Agricolândia - 202206
>> Pulando Agricolândia - 202207
>> Pulando Agricolândia - 202208
>> Pulando Agricolândia - 202209
>> Pulando Agricolândia - 202210
>> Pulando Agricolândia - 202211
>> Pulando Agricolândia - 202212
---------------------------------
>> Salvando dados
>>> Dados salvos

...Limpando terminal

...Iniciando 220020 - Água_Branca: 3/224
---------------------------------

...Iniciando Água_Branca - 201601:
> Carregando pagina
>> Pagina carregada
> Explorando a pagina
>> Carregando informações
['20/01/2016', 2016, 1, 3, 'CIRÚRGICO', 'CIRURGIA GERAL', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/01/2016', 2016, 1, 33, 'CLÍNICO', 'CLINICA GERAL', 9, 9, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/01/2016', 2016, 1, 10, 'OBSTÉTRICO', 'OBSTETRICIA CIRURGICA', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/01/2016', 2016, 1, 43, 'OBSTÉTRICO', 'OBSTETRICIA CLINICA', 5, 5, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/01/2016', 2016, 1, 45, 'PEDIATRICO', 'PEDIATRIA CLINICA', 6, 6, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/01/2016', 2016, 1, 47, 'OUTRAS ESPECIALIDADES', 'PSIQUIATRIA', 1, 1, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>>> Merge com dados do municipio
>>> Identificando total populacional do periodo
>>> Adicionando à planilha completa
Dataset: Água_Branca - 1/2016 - OK

...Iniciando Água_Branca - 201602:
> Carregando pagina
>> Pagina carregada
> Explorando a pagina
>> Carregando informações
['20/02/2016', 2016, 2, 3, 'CIRÚRGICO', 'CIRURGIA GERAL', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/02/2016', 2016, 2, 33, 'CLÍNICO', 'CLINICA GERAL', 9, 9, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/02/2016', 2016, 2, 10, 'OBSTÉTRICO', 'OBSTETRICIA CIRURGICA', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/02/2016', 2016, 2, 43, 'OBSTÉTRICO', 'OBSTETRICIA CLINICA', 5, 5, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/02/2016', 2016, 2, 45, 'PEDIATRICO', 'PEDIATRIA CLINICA', 6, 6, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/02/2016', 2016, 2, 47, 'OUTRAS ESPECIALIDADES', 'PSIQUIATRIA', 1, 1, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>>> Merge com dados do municipio
>>> Identificando total populacional do periodo
>>> Adicionando à planilha completa
Dataset: Água_Branca - 2/2016 - OK

...Iniciando Água_Branca - 201603:
> Carregando pagina
>> Pagina carregada
> Explorando a pagina
>> Carregando informações
['20/03/2016', 2016, 3, 3, 'CIRÚRGICO', 'CIRURGIA GERAL', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/03/2016', 2016, 3, 33, 'CLÍNICO', 'CLINICA GERAL', 9, 9, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/03/2016', 2016, 3, 10, 'OBSTÉTRICO', 'OBSTETRICIA CIRURGICA', 3, 3, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/03/2016', 2016, 3, 43, 'OBSTÉTRICO', 'OBSTETRICIA CLINICA', 5, 5, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64
 2   Mes          1 non-null      int64
 3   Código       1 non-null      int64
 4   Categoria    1 non-null      object
 5   Descrição    1 non-null      object
 6   Existente    1 non-null      int64
 7   SUS          1 non-null      int64
 8   %Ocupação    1 non-null      float64
 9   Geocodigo    1 non-null      int64
 10  População    1 non-null      object
dtypes: float64(1), int64(6), object(4)
memory usage: 216.0+ bytes
None
>> Carregando informações
['20/03/2016', 2016, 3, 45, 'PEDIATRICO', 'PEDIATRIA CLINICA', 6, 6, 1.0, 220020, '0']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competência  1 non-null      object
 1   Ano          1 non-null      int64